<div class="p-sample__accordion-list">
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
  <details class="c-accordion" name="exclusive-group">
    <summary class="c-accordion__summary">アコーディオンタイトル</summary>
    <!-- grid-template-rowsアニメーションのため -->
    <div style="overflow: hidden">
      <div class="c-accordion__contents">
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="c-accordion__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </details>
</div>
