<div class="c-image-text">
  <div class="c-image-text__image">
    <img src="https://placehold.jp/600x300.png" alt="" width="600" height="300" loading="lazy" />
  </div>
  <div class="c-image-text__text">
    <h2>タイトル</h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div>
</div>

<div class="c-image-text c-image-text--reverse">
  <div class="c-image-text__image">
    <img src="https://placehold.jp/600x300.png" alt="" width="600" height="300" loading="lazy" />
  </div>
  <div class="c-image-text__text">
    <h2>タイトル</h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div>
</div>

<div class="c-image-text c-image-text--overlap">
  <div class="c-image-text__image">
    <img src="https://placehold.jp/600x300.png" alt="" width="600" height="300" loading="lazy" />
  </div>
  <div class="c-image-text__text">
    <h2>タイトル</h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div>
</div>

<div class="c-image-text c-image-text--reverse c-image-text--overlap">
  <div class="c-image-text__image">
    <img src="https://placehold.jp/600x300.png" alt="" width="600" height="300" loading="lazy" />
  </div>
  <div class="c-image-text__text">
    <h2>タイトル</h2>
    <p>
      テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
  </div>
</div>
