<footer class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__content">
      <div class="p-footer__logo">
        <a href="#">
          <img src="/assets/images/logo_vite.svg" alt="vite" />
        </a>
      </div>
      <nav class="p-footer__nav">
        <ul class="p-footer__nav-list">
          <li class="p-footer__nav-item"><a href="#">ホーム</a></li>
          <li class="p-footer__nav-item"><a href="#">私たちについて</a></li>
          <li class="p-footer__nav-item"><a href="#">事業内容</a></li>
          <li class="p-footer__nav-item"><a href="/contact/">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
    <div class="p-footer__bottom">
      <p class="p-footer__copyright">&copy; 2025 Vite. All rights reserved.</p>
    </div>
  </div>
</footer>
