<header class="p-header l-header">
  <div class="p-header__inner">
    <h1 class="p-header__logo">
      <a href="/">
        <img src="/assets/images/logo_vite.svg" alt="vite" />
      </a>
    </h1>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-item">
          <a href="#">私たちについて</a>
        </li>
        <li class="p-header__nav-modal-wrap">
          <p>事業内容</p>
          <ul class="p-header__nav-modal">
            <li class="p-header__nav-modal-item">
              <a href="#">不動産賃貸事業</a>
              <ul class="p-header__nav-modal-detail-list">
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">物件検索</a>
                </li>
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">物件詳細情報</a>
                </li>
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">賃貸手続き・サポート</a>
                </li>
              </ul>
            </li>
            <li class="p-header__nav-modal-item">
              <a href="#">不動産仲介事業</a>
              <ul class="p-header__nav-modal-detail-list">
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">サービス・手続き</a>
                </li>
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">不動産情報・アドバイス</a>
                </li>
              </ul>
            </li>
            <li class="p-header__nav-modal-item">
              <a href="#">不動産コンサルティング事業</a>
              <ul class="p-header__nav-modal-detail-list">
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">市場調査・分析</a>
                </li>
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">投資コンサルティングについて</a>
                </li>
                <li class="p-header__nav-modal-detail-item">
                  <a href="#">不動産開発支援</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="p-header__nav-item">
          <a href="#">施工医実績</a>
        </li>
        <li class="p-header__nav-item">
          <a href="#">お知らせ</a>
        </li>
        <li class="p-header__nav-item">
          <a href="#">お客様の声</a>
        </li>
        <li class="p-header__nav-item p-header__nav-item--contact">
          <a href="/contact/">お問い合わせ</a>
        </li>
      </ul>
    </nav>
    <button class="p-header__hamburger js-hamburger" aria-label="メニューを開く" aria-expanded="false" aria-controls="drawer-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div id="drawer-menu" class="p-header__drawer js-drawer" aria-hidden="true">
      <nav class="p-header__drawer-nav">
        <ul class="p-header__drawer-list">
          <li class="p-header__drawer-item">
            <a href="#">私たちについて</a>
          </li>
          <li class="p-header__drawer-item">
            <button
              type="button"
              class="p-header__drawer-accordion-title js-drawer-accordion"
              aria-expanded="false"
              aria-controls="accordion-business"
              aria-label="事業内容を展開"
            >
              事業内容
            </button>
            <ul id="accordion-business" class="p-header__drawer-accordion-list" aria-hidden="true">
              <li class="p-header__drawer-accordion-item">
                <a href="#">不動産賃貸事業</a>
                <ul class="p-header__drawer-accordion-detail-list">
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">物件検索</a>
                  </li>
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">物件詳細情報</a>
                  </li>
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">賃貸手続き・サポート</a>
                  </li>
                </ul>
              </li>
              <li class="p-header__drawer-accordion-item">
                <a href="#">不動産仲介事業</a>
                <ul class="p-header__drawer-accordion-detail-list">
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">サービス・手続き</a>
                  </li>
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">不動産情報・アドバイス</a>
                  </li>
                </ul>
              </li>
              <li class="p-header__drawer-accordion-item">
                <a href="#">不動産コンサルティング事業</a>
                <ul class="p-header__drawer-accordion-detail-list">
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">市場調査・分析</a>
                  </li>
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">投資コンサルティングについて</a>
                  </li>
                  <li class="p-header__drawer-accordion-detail-item">
                    <a href="#">不動産開発支援</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="p-header__drawer-item">
            <a href="#">施工実績</a>
          </li>
          <li class="p-header__drawer-item">
            <a href="#">お知らせ</a>
          </li>
          <li class="p-header__drawer-item">
            <a href="#">お客様の声</a>
          </li>
          <li class="p-header__drawer-item p-header__drawer-item--contact">
            <a href="/contact/">お問い合わせ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
